.AO{
  width: 100% !important;
}
.aeJ{
  float: left !important;
  width: 67% !important;
}
#myFrame{
  background: #fbe98e;
  position: fixed !important;
  float: right !important;
  width: 330px !important;
  height: 800px;
}
.Freshsales-header{
  top: 0px;
  width: 100%;
  background: white;
}
#close{
  height: 20px;
  width: 20px;
  float: right;
}

#authentication input{
  width: 180px;
  height: 15px;
  border-radius: 5px;
}
#authentication{
  display: none;
}
#after_login{
  display: none;
}
